body{
    background-color: forestgreen;
    display: grid;
    grid-template-rows: 200px 170px 200px 40px ;
}
.dealer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end{
display: flex;
align-items: center;
justify-content: space-around;
}
#play-again{
    display: none;
}